/*Card do html*/
.card-html{
    width: 25%;
    height: 60vh;
    background-color: #46494c;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5vh;
    z-index: 900;
    transition: 0.5s;
    color: #e9ecef;
}
.card-html:hover{
    transform: scale(1.03);
    background-color: #eb5e28;
    color: #333533;
    text-shadow: 2px 4px 9px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 26px 5px rgba(0,0,0,0.3);
}
.card-html p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 800;
}
/*Card do html*/
/*Card do css*/
.card-css{
    width: 25%;
    height: 60vh;
    background-color: #46494c;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5vh;
    z-index: 900;
    transition: 0.5s;
    color: #e9ecef;
}
.card-css:hover{
    transform: scale(1.03);
    background-color: #3a86ff;
    color: #333533;
    text-shadow: 2px 4px 9px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 26px 5px rgba(0,0,0,0.3);
}
.card-css p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 800;
}
/*Card do css*/
/*Card do C#*/
.card-cSharp{
    width: 25%;
    height: 60vh;
    background-color: #46494c;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5vh;
    rotate: 0deg;
    z-index: 900;
    transition: 0.5s;
    color: #e9ecef;
}
.card-cSharp:hover{
    transform: scale(1.03);
    background-color: #8338ec;
    text-shadow: 2px 4px 9px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 26px 5px rgba(0,0,0,0.3);
}
.card-cSharp p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 800;
}
/*Card do C#*/
/*Card do tsJs*/
.card-tsJs{
    width: 25%;
    height: 60vh;
    background-color: #46494c;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5vh;
    z-index: 900;
    transition: 0.5s;
    color: #e9ecef;
}
.card-tsJs:hover{
    transform: scale(1.03);
    background-color: #3a86ff;
    color: #333533;
    text-shadow: 2px 4px 9px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 26px 5px rgba(0,0,0,0.3);
}
.card-tsJs p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 800;
}
/*Card do tsJs*/
/*Card do Js*/
.card-js{
    width: 25%;
    height: 60vh;
    background-color: #46494c;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5vh;
    z-index: 900;
    transition: 0.5s;
    color: #e9ecef;
}
.card-js:hover{
    transform: scale(1.03);
    background-color: #fee440;
    color: #333533;
    text-shadow: 2px 4px 9px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 26px 5px rgba(0,0,0,0.3);
}
.card-js p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 800;
}
/*Card do js*/
/*Card Borda tranparente geral*/
.card-html, .card-css, .card-cSharp, .card-tsJs, .card-js{
    border: #edf2f425 5px solid;
    border-collapse: collapse;
}