@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*, *:before, *:after { 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #eef4ed;
    color: #333533;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-thumb {
    background-color: #6d6a75;    
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: #bfbdc1;     
}
header{
    display: flex;
    justify-content: center;
    height: 10vh;
}
nav{
    height: 10vh;
    display: flex;
    justify-content: center;
}
nav ul, nav li{
    display: flex;
    list-style: none;
    padding: 30px;
    padding-top: 13px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333533;
    transition: 0.2s;
}
nav a{
    text-decoration: none;
    z-index: 100;
    transition: 0.5s;
}
nav a :hover{
    text-decoration: underline 5px #e71d36;
}
/*Sugunda NAV*/
.nav2, .ul2, .li2{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    transition: 0.9s;
}
.nav2 a :hover{
    text-decoration: underline 3px #e71d36;
}
